@import "tailwindcss";

.feather-animation {
  animation: feather-animation 1.5s ease-in-out infinite;
}

@keyframes feather-animation {
  0% {
    transform: rotate(-7deg);
  }

  50% {
    transform: rotate(7deg);
  }

  100% {
    transform: rotate(-7deg);
  }
}

.react-card-front,
.react-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slick-dots li button:before {
  color: white !important;
}

html[style="color-scheme: light;"] .slick-dots li button:before {
  color: rgba(0, 0, 0, 0.5) !important;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 97.5%;
  background-position-y: 50%;
  @apply relative px-3 w-full inline-flex shadow-xs tap-highlight-transparent group-data-[focus=true]:bg-default-200 rounded-medium flex-col items-start justify-center gap-0 bg-default-100 data-[hover=true]:bg-default-200 outline-solid outline-transparent data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline data-[focus-visible=true]:outline-offset-2 h-14 min-h-14 py-4;
}

html[style="color-scheme: light;"] .custom-select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='dark' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}



@config "../tailwind.config.js"